.last-fm-list {
    list-style: none;
    margin: 0;
}

.last-fm-list-item {
    margin-top: 10px;
}

.album-art {
    float: left;
    height: 100px;
    width: 100px;
    margin-top: 10px;
}

.track-info {
    margin-left: 10px;
    float: left;
}

.clear {
    clear: both;
}

.nav-custom {
    margin-top: 15px;
}

.error {
    color: red;
    font-weight: bold;
    text-align: center;
    margin: 20px 0px;
}
