/*@media (min-width: 1200px) {
    .container-fluid {
        max-width: 970px;
    }
}*/
@media (min-width: 768px) {
    .navbar-nav {
        float: none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }
}
