body {
    background-color: #222;
}

hr {	
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}

.body-content {
    background-color: #222;
}

.links {
    background-color: #222;
    font-size: 16px;
}

.site-navbar {
    border: none;
    margin-bottom: 0;
}

.masthead {
	background-color: #222;
    color: #d0caca;
    font-family: Cambria, 'Palatino Linotype', 'Book Antiqua', 'URW Palladio L', serif;
}

.masthead-margin {
    margin: 40px 0 20px;
}

.content {
    background-color: #d0caca;
    border-radius: 10px;
}

.footer {
    text-decoration: none;
    color: #d0caca;
    margin-bottom: 10px;
}

.footer > a {
    text-decoration:none;
    color: #d0caca;
}

.footer > a:hover {
    text-decoration:underline;
} 

.twitter-timeline {
    margin-top: 15px;
}

.date-section {
    margin-top: 15px;
}

.post-nav {
    clear: both;
    margin: 10px 0px 10px 0px;
}

.body404 {
    margin-top: 60px;
}

.image404 {
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 70%;
} 

.table {
   border-collapse: collapse;
   border: 2px solid black;
}

.twitter-logo:hover {
   color: #55acee !important;
}

.rss-logo:hover, .rss-logo:focus, .rss-logo:active {
   color: #f26522 !important;
}

.lastfm-logo:hover, .lastfm-logo:focus, .lastfm-logo:active {
   color: #c3000d !important; 
}

.github-logo:hover, .github-logo:focus, .github-logo:active {
   color: #4183c4 !important;
}
