---
layout: none
title: 404
---
<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body class="body404">
    <div class="container">
        <div class="row content">
            <div class="col-xs-6">
                <img class="image404" src="/images/adam-bomb.jpg"/>
            </div>
            <div class="col-xs-6">
                <h1>404 - Page Not Found</h1>
                Sorry, the page you are looking for cannot be found. 
                <i class="fa fa-frown-o fa-3x"></i>
                <br/>
                Feel free to go back to my <a href="/">homepage</a> and try to find the content there.
            </div>
        </div>
        {% include footer.html %}
    </div>
</body>
</html>
