---
title: Listening To
listeningToApp: true
layout: default
---
{% raw %}
<div ng-app='ListeningToApp' ng-controller='mainController' ng-init='getRecentTracks()'>
    <div class="nav-custom"></div>
    <ul class="nav nav-pills nav-justified"> 
        <li class="{{recentTracksActive}}" ng-click="getRecentTracks()"><a href="#">Recent Tracks</a></li>
        <li class="{{topArtistsActive}}" ng-click="getTopArtists()"><a href="#">Top Artists</a></li>
    </ul>
    <ul class='last-fm-list' ng-show="showRecentTracks"
        ng-hide="hideRecentTracks">
        <li ng-repeat="track in recentTracks">
            <div class='last-fm-list-item'>
                <div class='album-art'>
                    <img class='img-thumbnail album-art'
                    alt='{{track.Artist}}-{{track.Album}}' src='{{track.AlbumArtLocation}}'>
                </div>
                <div class='track-info'>
                    <h3>
                        {{track.Artist}}
                    </h3>
                    <strong>Track:</strong> {{track.Name}}<br/>
                    <strong>Album:</strong> {{track.Album}}<br/>
                    <strong>Last Played:</strong> {{track.LastPlayed}}
                </div>
            </div>
            <div class='clear'></div>
            <hr/>
        </li>
    </ul>
    <ul class='last-fm-list' ng-show="showTopArtists" ng-hide="hideTopArtists">
        <li ng-repeat="artist in topArtists">
            <div class='last-fm-list-item'>
                <div class='album-art'>
                    <img class='img-thumbnail album-art'
                    alt='{{track.Artist}}' src='{{artist.ArtistImageLocation}}'>
                </div>
                <div class='track-info'>
                    <h3>
                        {{artist.Name}}
                    </h3>
                    <strong>Rank:</strong> {{artist.Rank}}<br/>
                    <strong>Play Count:</strong> {{artist.PlayCount}}<br/>
                </div>
            </div>
            <div class='clear'></div>
            <hr/>
        </li>
    </ul>
</div>
{% endraw %}
