---
title: Listening To
listeningToApp: true
layout: default
---
{% raw %}
<div ng-app='ListeningToApp' ng-controller='mainController' ng-init='getRecentTracks()'>
    <div class="nav-custom"></div>
    <ul class="nav nav-pills nav-justified"> 
        <li ng-class="{active: recentTracksActive}" ng-click="getRecentTracks()"><a href="#">Recent Tracks</a></li>
        <li ng-class="{active: topArtistsActive}" ng-click="getTopArtists()"><a href="#">Top Artists</a></li>
    </ul>
    <ul class='last-fm-list' ng-show="showRecentTracks && !connectError">
        <li ng-repeat="track in recentTracks">
            <div class='last-fm-list-item'>
                <div class='album-art'>
                    <img ng-cloak class='img-thumbnail album-art'
                    alt='{{track.Artist}}-{{track.Album}}' ng-src='{{track.AlbumArtLocation}}'>
                </div>
                <div ng-cloak class='track-info'>
                    <h3>
                        {{track.Artist}}
                    </h3>
                    <span class='field'>Track:</span> {{track.Name}}<br/>
                    <span class='field'>Album:</span> {{track.Album}}<br/>
                    <span class='field' ng-hide='track.IsNowPlaying'>Last Played:</span><span ng-class='{nowplaying: track.IsNowPlaying}'> {{track.LastPlayed}}</span><br/>
                </div>
            </div>
            <div class='clear'></div>
            <hr/>
        </li>
    </ul>
    <ul class='last-fm-list' ng-show="showTopArtists && !connectError">
        <li ng-repeat="artist in topArtists">
            <div class='last-fm-list-item'>
                <div class='album-art'>
                    <img ng-cloak class='ng-cloak img-thumbnail album-art'
                    alt='{{track.Artist}}' ng-src='{{artist.ArtistImageLocation}}'>
                </div>
                <div ng-cloak class='ng-cloak track-info'>
                    <h3>
                        {{artist.Name}}
                    </h3>
                    <strong>Rank:</strong> {{artist.Rank}}<br/>
                    <strong>Play Count:</strong> {{artist.PlayCount}}<br/>
                </div>
            </div>
            <div class='clear'></div>
            <hr/>
        </li>
    </ul>
   <div ng-cloak class="ng-cloak spinner" ng-show="showSpinner">
	<i class="fa fa-spinner fa-spin loading-label"></i>Loading
   </div>
   <div ng-cloak class="ng-cloak error" ng-show="connectError">
	Cannot connect to the Last.fm Service to access music data.<br/>
	Check the <a href='http://status.last.fm'>Last.fm Status Site</a> for more information.
   </div>
</div>
{% endraw %}

