<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Anthony Sciamanna">
    <meta name="keywords" content="software, software development, software craftsmanship, .NET, C#, HTML5, CSS3, JavaScript, jQuery, XP, Extreme
    Programming, Pair Programming, TDD, Test Driven Development, unit testing, code quality, Philadelphia"> 
    {% if page.excerpt %}
    <meta name="description" content="{{page.excerpt | strip_html}}">
    {% elsif page.description %}
    <meta name="description" content="{{page.description}}">
    {% else %}
    <meta name="description" content="Anthony Sciamanna's personal site and blog"> 
    {% endif %}
    <title>{% if page.title %} {{page.title}} - Anthony Sciamanna {% else %}Anthony Sciamanna{% endif %}</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/css/site.css" rel="stylesheet" />
    {% if page.listeningToApp %}
    <link href="/css/listeningto.css" rel="stylesheet" />
    {% endif %}
    <link rel="shortcut icon" href="/icon.ico" type="image/x-icon" />
    <link href="http://www.anthonysciamanna.com/feed.xml" rel="alternate" type="application/atom+xml">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new
     Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
         })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-49263473-1', 'anthonysciamanna.com');
    ga('send', 'pageview');
    </script>
</head>
