<!-- Post Footer -->
{% assign  word_count = page.content | number_of_words %}
{% assign minutes_to_read = word_count | divided_by:200 %}
<p class="content post-footer-wordcount">
<strong> <small>{{word_count}} words</em></small></strong>
</p>
<div class="content post-footer-nav">
  <span class="pull-left">
    {% if page.previous.url %}
    <a href="{{page.previous.url}}">
      <i class="fa fa-2x fa-long-arrow-left"></i>
      {{page.previous.title}}
    </a>
    {% endif %}
  </span>
  <span class="pull-right">
    {% if page.next.url %}
    <a href="{{page.next.url}}">
       {{page.next.title}}
       <i class="fa fa-2x fa-long-arrow-right"></i>
    </a>
    {% endif %}
  </span>
  <div style="clear:both;"></div>
</div>

<!-- End Post Footer -->
