    {% include tag_creation.html %}
    {% include category_creation.html %}
    <div class="post-list-item">
        <div class="post-header">
           <i class="fa fa-calendar"></i> {{ post.date | date: "%A %B %-d, %Y" }}
        </div>
        <h2><a href="{{ post.url }}">{{post.title}}</a></h2>
        {{post.excerpt }} <a href="{{ post.url}}">Continue Reading <i class="fa
                fa-long-arrow-right fa-fw"></i></a>
        <br/>
        <br/>
        <p>
           <span class="row-data">
             {{category_content}}   
           </span>
           <span class="row-data">
             {{tags_content}}
           </span>
           <span clas="row-data">
              <i class="fa fa-comments"></i>  <a href="{{post.url}}#disqus_thread">Leave a Comment</a>
           </span>
        </p>
    </div>
    <hr/>
