<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
    <nav class="navbar navbar-inverse site-navbar" role="navigation">
        <div class="container">
            <header class="masthead">
                <h1>Anthony Sciamanna</h1>
                <h4>software developer, drummer, husband, and father</h4>
            </header>

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#navbar-collapse-data">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-data">
                <ul class="nav navbar-nav">
                    <li class="links"><a href="/about.html">About</a></li>
                    <li class="links"><a href="/">Blog</a></li>
                    <li class="links"><a href="/projects.html">Projects</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="links"><a title="email me" href="mailto:asciamanna@gmail.com"><i class="fa fa-envelope fa-fw fa-2x"></i></a></li>
                    <li class="links"><a title="github" target="_blank" href="http://www.github.com/asciamanna"><i class="fa fa-github-square fa-fw fa-2x"></i></a></li>
                    <li class="links"><a title="twitter" target="_blank" href="http://www.twitter.com/asciamanna"><i class="fa fa-twitter-square fa-fw fa-2x"></i></a></li>
                    <li class="links"><a title="facebook" target="_blank" href="http://www.facebook.com/asciamanna"><i class="fa fa-facebook-square fa-fw fa-2x"></i></a></li>
                    <li class="links"><a title="RSS feed" target="_blank" href="/feed.xml"><i class="fa fa-rss-square fa-fw fa-2x"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row content">
            <div class="col-xs-12 col-sm-12 col-md-9">
                {{ content }}
            </div>
            <div class="hidden-xs hidden-sm col-md-3" style="float: right;" >
                <a class="twitter-timeline" href="https://twitter.com/asciamanna" data-widget-id="444990454707146752">Tweets by @asciamanna</a>
                <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
            </div>
                
        </div>
        {% include footer.html %}
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>
