
<!-- Default Layout -->

<!DOCTYPE html>
<html lang="{{ site.lang }}">

  {% include head.html %}

  <body>

    {% include navigation.html %}

    <section class="container content-section reset-list-align">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">

          <h1><strong>{{ page.title }}</strong></h1>

          {{ content }}

          {% include social-buttons.html %}

        </div>
      </div>
    </section>

    {% include footer.html %}

    {% include js.html %}
    {% include cookie-consent.html %}
  </body>
</html>

<!-- Default Layout End -->
