<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Anthony Sciamanna</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/fonts/font-awesome-4.0.3/css/font-awesome.min.css">
    <link href="/css/site.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/icon.ico" type="image/x-icon" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new
     Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
         })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-49263473-1', 'anthonysciamanna.com');
    ga('send', 'pageview');

    </script>
</head>
<body>
    <nav class="navbar navbar-inverse site-navbar" role="navigation">
        <div class="container">
            <header class="masthead">
                <h1>Anthony Sciamanna</h1>
                <h4>software developer, drummer, husband, and father</h4>
            </header>

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#navbar-collapse-data">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-data">
                <ul class="nav navbar-nav">
                    <li class="links"><a href="/">About</a></li>
                    <li class="links"><a href="/blog.html">Blog</a></li>
                    <li class="links"><a href="/projects.html">Projects</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="links"><a title="email me" href="mailto:asciamanna@gmail.com"><i class="fa fa-envelope fa-fw fa-2x"></i></a></li>
                    <li class="links"><a title="github" target="_blank" href="http://www.github.com/asciamanna"><i class="fa fa-github-square fa-fw fa-2x"></i></a></li>
                    <li class="links"><a title="twitter" target="_blank" href="http://www.twitter.com/asciamanna"><i class="fa fa-twitter-square fa-fw fa-2x"></i></a></li>
                    <li class="links"><a title="facebook" target="_blank" href="http://www.facebook.com/asciamanna"><i class="fa fa-facebook-square fa-fw fa-2x"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row content">
            <div class="col-xs-12 col-sm-8 col-md-9">
                {{ content }}
            </div>
            <div class="hidden-xs cols-sm-2 col-md-3" style="float: right;" >
                <a class="twitter-timeline" href="https://twitter.com/asciamanna" data-widget-id="444990454707146752">Tweets by @asciamanna</a>
                <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
            </div>
        </div>
             <div class="footer text-center">
                 <hr/>
                 &copy; 2014 Anthony Sciamanna <br/>
                 <a href="http://www.github.com">hosted by github</a> &#9836; 
                 <a href="http://getboostrap.com">built with twitter bootstrap</a> &#9836; 
                 <a href="http://jekyllrb.com/">blog powered  by jekyll</a>
             </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>
